.login {
    text-align: center;
}

.btn {
    background-color: white;
    border: 1px solid blueviolet;
    padding: 20px 40px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.user {
    text-align: center;
}

.user h2 {
    margin: 20px 0;
}